.custom-color{
    background-color: rgb(244, 245, 247) !important;
    
    box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 31%) 0px 0px 1px 0px;
    transition: box-shadow 0.25s ease 0s;
    text-decoration: none;
}
.custom-color:hover{
    text-decoration: none !important;
   
}
/* .c-sidebar-nav-icon{
color: #0065ff !important;

} */
.c-sidebar-brand-full{
    font-size: 18px;
    font-style: inherit;
    line-height: 18px;
    color: rgb(66, 82, 110) !important;
    font-weight: 500;
    letter-spacing: -0.01em;
text-decoration-color: none !important;
}
.c-sidebar-brand-minimized{
    font-size: 18px;
    font-style: inherit;
    line-height: 18px;
    color: rgb(66, 82, 110) !important;
}
.vo-sidebar{
    background-color: #FAFBFC !important;
}
.vo-navItem{
    color: rgb(66, 82, 110) !important;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
}


.c-sidebar-nav-dropdown-toggle:hover{
    color: #FAFBFC !important;
    background-color: #0052cc !important;
   
}


.c-sidebar-nav-link:hover{
    color: #FAFBFC !important;
    background-color: #0052cc !important;
   
}

.card-footer{
    background: rgb(255, 255, 255);
}