.special{
    font-size: 14px;
    line-height: 1.42857;
    color: #0052cc;
    
}
.special:focus,.special.active{
    background: -webkit-linear-gradient(140deg, #0052cc 25%, #393ed8 100%);
    background: -moz-linear-gradient(140deg, #0052cc 25%, #393ed8 100%);
    background: -ms-linear-gradient(140deg, #0052cc 25%, #393ed8 100%);
    background: -o-linear-gradient(140deg, #0052cc 25%, #393ed8 100%);
    background: linear-gradient(140deg, #0052cc 25%, #393ed8 100%);
    color: white !important;
   
}
.edit-profile-form-header{

}
.card-view-profile{
    border-radius: 3px;
    box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
border: none !important;
}
.edit-profile{
   margin-left: auto !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 10px ;
   margin-top: 10px;
    border-color: transparent;
    margin-top: 10px;
    display: block;
    color: #FAFBFC;
    background-color: #0052CC;
}

.edit-profile:hover{
    background-color: #0065ff;
    color: #FFFFFF;
}

.update-img{
    height: 100px;
    width: 100px;
    border: 2px solid #FAFBFC;
}
.user-profile-pic-div{
    background-color: #5e6969;
    background-image: linear-gradient(196deg, #5e6969 0%, #cbd7d7 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FAFBFC;
    

}
.change-img-btn{
    font-size: 12px;
    line-height: 16px;
    background-color: #0055ff;
    font-weight: 600;
    color: #FAFBFC;
    height: 34px;
}
.change-img-btn:hover{
    color: #FFFFFF;
    background-color: #1976D2;

}
.project-details-points{
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
    color:rgb(23,43,77);
    font-weight: 400;
    line-height:20px;
margin-bottom: 20px;
/* display: flex; */
}
.info-header-1{
    font-weight: 500;
    color: rgb(107, 119, 140);
    font-size: 14px;
    line-height:20px;
}
.custom-label-5{
    color: rgb(23, 43, 77);
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 600;
}
.custom-forminput-6{
    font-size:14px !important;
    line-height: 1.42857;
    color: rgb(133,133,133);
    height: 38px;
    

}
.custom-forminput-6:active,.custom-forminput-6:focus{
    border:2px solid #0065ff !important;
    box-shadow: none !important;
    font-size:14px !important;
    line-height: 1.42857;
}
.profile-form-btn{
    -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    height: 32px;
    padding: 0px 10px;
    font-size: 14px;
    line-height:2.28571em; 
}
.update-profile{
    background-color: #0052CC;
    color: white;
}
.update-profile:hover{
    background-color: #0065ff;
    color: white;
}
.cancel-update{
    line-height: 2.28571em;
    color: rgb(66, 82, 110) !important;
   
}
.cancel-update:hover{
    background-color: rgba(9, 30, 66, 0.04);
    color: #2b2b2b;
}
.profile-page-header{
    font-size: 1.71429em;
    font-style: inherit;
    color: #5e6c84 !important;
    font-weight: 500;
    letter-spacing: -0.01em;
    margin-top:15px;
    line-height: 32px;
    outline: none;
}
.password-container{
    position:relative;
  }
  .pwd-container-img{
    cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 8px;
  }

/****_____MEDIA QUERY________***/
@media all and (min-width:300px) and (max-width:600px){
    .update-img{
        height: 70px;
        width: 70px;
    }
}
@media all and (min-width:992px){
    .project-form-button-holders{
        text-align: center !important;
    }
    .cancel-update{
        margin-left: 10px;
    }
}