@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.css-19ojoi0-MuiTypography-root{

font-family: Poppins;
font-style: normal !important;
font-weight: 500 !important;
font-size: 20px !important;
line-height: 30px;
color: #444444;
}

.Mui-selected{
    background-color: rgb(201, 76, 76) !important;
}
.accordion-button{
    font-family: Poppins !important;
font-style: normal !important;
font-weight: 500;
font-size: 20px !important;
line-height: 30px;
color: #444444;
padding: 0;
border-color: transparent;
}
.accordion-button:focus{
    border:none !important;
}
.accordion-button::after{
    margin-left: 25px;
}
.custom-icon-menu{
    margin-right: 24px !important;
}
